header {
  height: 100vh;
}
#content1 {
  height: 100vh;
}
#content2 {
  height: 100vh;
}
#content3 {
  height: 100vh;
}
#content4 {
  height: 100vh;
}
#footer {
  height: 220px;
}
.bg1 {
  background-color: #f5ebca;
}
.bg2 {
  background-color: #f6e3a1;
}
.bg3 {
  background-color: #f4d778;
}
.bg4 {
  background-color: #f7d24f;
}
.bg5 {
  background-color: #f7c923;
}
.bg6 {
  background-color: #ffc800;
}
.box_inner {
  max-width: 1050px;
  background: rgba(255, 0, 255, 0.5);
  height: inherit;
  margin: auto;
}
.container {
  max-width: 1440px;
  /* background: #98c1ffb9; */
  height: inherit;
  margin: 0 auto;
}
.container li {
  display: inline-block;
}
