@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body,
h1,
p,
input,
label {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
}
ol,
li {
  list-style: none;
}
.cf:after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #222;
}
.text_none {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}
